.footer {
  background-color: #23292f;
  color: #c8d1da;
  padding: 10px;
  margin-top: 20px;
}

.footer a {
  color: #c8d1da;
  text-decoration: none;
  font-size: 12px;
}

.footer a:hover {
  text-decoration: underline;
}
.footer p {
  font-size: 12px;
  margin-top: -10px;
}
